/*!* latin-ext *!*/
/*@font-face {*/
    /*font-family: 'Kaushan Script';*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*src: local('Kaushan Script'), local('KaushanScript-Regular'), url(../fonts/KaushanScript_ext.woff2) format('woff2');*/
    /*unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/* latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(../fonts/KaushanScript.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/Oswald-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin:0!important;
    min-height: 275px;
    min-width: 300px;
    scrollbar-width: none!important; /* Firefox */
    -ms-overflow-style: none!important;  /* IE 10+ */
    resize: none;
}

::-webkit-scrollbar { /* WebKit */
    width: 0!important;
    height: 0!important;
    background: transparent;
}

::-webkit-resizer {
    display: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

#app {
    width: 100%;
    height: 100%;
    font-family: 'Oswald';
    font-weight: 300;
    color: #333333;
    background-color: #fff;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3
h4
h5 {
    margin: 0 0 2rem;
    font-family:'Kaushan Script', cursive;
    font-weight: 700;
    letter-spacing: 1px;
}
.upper {
    text-transform: uppercase;
}
p {
    margin: 0 0 20px;
    font-size: 0.90rem;
    line-height: 1.6em;
}

a {
    color: white;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
    outline:none;
}

section.contact {
    color: #666;
}
.btn:hover, .btn:focus {
    outline: none;
}

.centered {
    resize: vertical;
    overflow: inherit;
}
.center {
    text-align: center;
    overflow: inherit;
}

.page-scroll {
    text-align: center;
}

.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 8px 14px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

@media (max-height: 499px) {
    body {
        font-size: 14px;
    }
    footer .btn-circle {
        width: 28px;
        height: 28px;
        margin-top: 0;
        padding: 1px 0;
        font-size: 13px;
    }
    p {
        margin: 0 0 5px;
    }
}

@media (min-height: 499px) and (max-height: 599px) {
    body {
        font-size: 15px;
    }
    footer .btn-circle {
        width: 38px;
        height: 38px;
        margin-top: 0;
        padding: 4px 0;
        font-size: 15px;
    }
}

@media (max-height: 341px) {
    .hidden-xsh {
        display: none;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.3s ease;
}

.fade-enter,
.fade-leave-to
    /* .fade-leave-active in <2.1.8 */

{
    opacity: 0
}
